<div class="container-fluid py-2">
  <div class="row py-3">
    <div class="col">
      <h2> Log Analytics </h2>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-8">
      <canvas #overallData></canvas>
    </div>
    <div class="col" style="align-self: center">
      <div class="list-group">

        <a href="#" on-mouseover="onHover($event)" (click)="selectList($event, -1)" class="list-group-item list-group-item-action justify-content-between" [class.active]="selected == -1">
          Overall Log Statistics
          <span class="badge badge-default badge-pill">{{totalLogs}}</span>
        </a>

        <a href="#" *ngFor="let obj of monthData" (click)="selectList($event, obj)" on-mouseover="onHover($event)" class="list-group-item list-group-item-action justify-content-between" [class.active]="obj === selected" >
          {{obj.date}} Log Statistics
          <span class="badge badge-default badge-pill">{{obj.data}}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="row py-3">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Category</th>
            <th>Student</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody *ngIf="showList">
          <tr *ngFor="let log of selectedData; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{log.category_id}}</td>
            <td>{{log.profile_id}}</td>
            <td>{{formatDate(log.datetime)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row py-3">
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
</div>