<ul class="nav sticky-top flex-column" id="sidebar">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" routerLinkActive="active" >Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/log-data" routerLinkActive="active" >Log Analytics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/user-data" routerLinkActive="active" >User Analytics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/feedback" routerLinkActive="active" >Feedbacks</a>
  </li>
</ul>