<div class="container py-2">
  <div class="row py-3">
    <div class="col-8">
      <!--<app-graph [userData]="userData"></app-graph>-->
      <canvas #overallData></canvas>
    </div>
    <div class="col" style="align-self: center">
      <div class="list-group">

        <a href="#" on-mouseover="onHover($event)" (click)="selectList($event, -1)" class="list-group-item list-group-item-action justify-content-between" [class.active]="selected == -1">
          Overall Log Statistics
          <span class="badge badge-default badge-pill">{{totalLogs}}</span>
        </a>

        <a href="#" *ngFor="let obj of monthData" (click)="selectList($event, obj)" on-mouseover="onHover($event)" class="list-group-item list-group-item-action justify-content-between" [class.active]="obj === selected" >
          {{obj.date}} Log Statistics
          <span class="badge badge-default badge-pill">{{obj.data}}</span>
        </a>
      </div>
    </div>
  </div>
</div>